<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Data</title>
    <style>
      .body {
        font-family: Arial, Helvetica, sans-serif;
      }

      .center-container {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .table {
        width: 100%;
      }

      tr:nth-child(even) {
        background-color: #f2f2f2;
      }

      tr:nth-child(odd) {
        background-color: #ddd;
      }
    </style>
  </head>
  <body class="body">
    <div>
      <h1 class="center-container">Data Sorted by Price</h1>
      <table class="center-container table">
        <tr>
          <th>City</th>
          <th>Province</th>
          <th>Price</th>
        </tr>
        <% for (let data of housingData) { %>
        <tr>
          <td><%= data.city %></td>
          <td><%= data.province %></td>
          <td><%= data.price %></td>
        </tr>
        <% } %>
      </table>
    </div>
  </body>
</html>
